body {
    background-color: peachpuff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Calculator";
    src: url("./calculator.ttf");
}

#calculator-body {
    width: 320px;
    height: 600px;
    border-radius: 12px;
    background-color: rgb(217, 211, 208);
    display: flex;
    flex-direction: column;
    box-shadow: black 8px 5px 5px;
    border: 1px solid black;
}

#calculator-top {
    display: flex;
    flex-direction: column;
    flex: auto;
}

#design-container {
    width: 50px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    margin-left: 60px;
}

#design-container div {
    width: 10px;
}

#design-container #left-stripe {
    background-color: rgb(245, 177, 59);
}

#design-container #middle-stripe {
    background-color: rgb(245, 138, 32);
}

#design-container #right-stripe {
    background-color: rgb(65, 163, 140);
}

#display {
    background-color: rgb(179, 186, 160);
    border: 8px solid black;
    padding: 14px 16px;
    border-radius: 8px;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 60px;
    font-family: "Calculator";
}

#button-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    background-color: rgb(166, 160, 157);
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

#button-container button {
    width: 60px;
    height: 60px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Calculator";
    box-sizing: border-box;
    border: 6px solid rgb(201, 193, 189);
    box-shadow: black 4px 2px 2px;
}

#display,
#button-container {
    margin: 0px 20px 20px;
}

#button-container #clear {
    background-color: red;
    color: white;
}

#button-container #equals {
    background-color: blue;
    color: white;
}

#button-container #backspace {
    flex-grow: 0;
}

#button-container #multiply {
    align-items: flex-start;
    font-size: 28px;
}