body {
    background-color: peachpuff;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

@font-face {
    font-family: "Calculator";
    src: url("./calculator.ttf");
}

#calculator-body {
    width: 320px;
    height: 600px;
    border-radius: 12px;
    background-color: rgb(217, 211, 208);
    display: flex;
    flex-direction: column;
}

#display {
    background-color: rgb(179, 186, 160);
    border: 8px solid black;
    padding: 4px 16px;
    border-radius: 8px;
    display: flex;
    flex: 1;
    align-items: flex-end;
    justify-content: flex-end;
    font-size: 50px;
    font-family: "Calculator";
}

#button-container {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
    background-color: rgb(166, 160, 157);
    border-radius: 8px;
    padding: 8px;
    gap: 8px;
}

#button-container button {
    width: 60px;
    height: 60px;
    flex: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-family: "Calculator";
    box-sizing: border-box;
    border: 6px solid rgb(201, 193, 189);
}

#display,
#button-container {
    margin: 20px;
}

#button-container #clear {
    background-color: red;
    color: white;
}

#button-container #equals {
    background-color: blue;
    color: white;
}

#button-container #backspace {
    flex-grow: 0;
}

#button-container #multiply {
    align-items: flex-start;
    font-size: 28px;
}